.foot
    .foot-cont
        p Copyright 2013-2018 58zazhi.com/ All Rights Reserved
        p 北京市石景山区高科技园区西井路3号楼9层 Tel：010-57094051
        p 出版物经营许可证：新出发京批字第直170072号 © 京ICP备11024252号-1 © 京公安网备11010102001369
        p.lastline
            span.lastlinef 友情链接：
            span
                a(href="http://", target="_blank") 北京大学出版社
            span
                a(href="http://", target="_blank") 清华大学出版社
