include header.jade
link(type="text/css",rel="stylesheet",href="../static/style/index.css")
.banner
.maincont-wrap
    h1.main-tit 业务范围
    p.main-info Line of business
    .main-cont-wrap
        //- - for (var i = 0; i < 4; i++)
        //-     .main-item
include footer.jade
